/* google font */
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Love+Ya+Like+A+Sister&family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@300&display=swap');

/*  */
body{
    width: 100%;
}
h1{
    font-family: 'East Sea Dokdo', cursive;
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
    
}

h2{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: center;
    margin-left: 60px;
    
}

img{
  
    width: 120px;
    margin-left: 20px;
    border-radius: 5px;
   
   
  }

footer{
    text-align: center;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 30px;
    margin-top:50px ;

}